<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Reminder</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>

    <div class="form">
        <h1>Напоминание</h1>
        <h2>id пациента -- id доктора -- время</h2>
        <%if (arrRecords.length > 0){%>
            <ul>
            <% arrRecords.forEach(element => {%>
                <li> <%= element.user_id %> <%= element.doctor_id %> <%= element.slot %> </li>
            <%})%>
            </ul> 
        <%}%>
        <a href="/index" class="back">Вернуться на главную страницу</a>
    </div>

</body>
</html>